<h1>Login</h1>

<br>

<%= button_to "Login with Google", "/auth/google_oauth2" %>

<br>

<%= form_for :user do |f| %>
  <div id="login-container">
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <br>

    <%= f.submit 'Login' %>
  </div>
<% end %>

<br>

<% if flash[:error] %>
  <p class="error-display"><%= flash[:error] %></p>
<% end %>

<script charset="utf-8">
  document.getElementById("main-content").className = "content-container-light"
</script> 
