<%= form_for [@story, @snippet], url: story_snippet_path(@story, @snippet) do |f| %>

  <div class="snippet-container">
    <div class="snippet-preview-container">
      <% if @prev_snippet %>
        <h3><%= @prev_snippet.content %></h3>
      <% end %>

      <br>

      <%= f.text_area :content, autofocus: true, maxlength: "#{@story.snippet_length}", class: "snippet-content" %>

      <br>

      <% if @next_snippet %>
        <h3><%= @next_snippet.content %></h3>
      <% end %>
    </div>

    <hr>

    <div class="snippet-checkboxes">
      <%= f.check_box :paragraph_begin, checked: @snippet.paragraph_begin %>
      <%= f.label :paragraph_begin, "Begin" %>
      <%= f.check_box :paragraph_end, checked: @snippet.paragraph_end %> 
      <%= f.label :paragraph_end, "End" %>
    </div>

    <%= text_field_tag 'contribution_color', @contribution_color, class: 'jscolor centered-text' %> 

    <br>

    <%= f.submit "Update Snippet" %>
  </div>
<% end %>

<br>

<div class="generic-centered">
  <div class="inline-buttons-container">
    <%= button_to "Delete Snippet", "/stories/#{@story.id}/snippets/#{@snippet.id}", method: :delete, class: "inline-buttons" %>
  </div>
</div>

<br>

<% if @snippet.errors.any? %>
  <% @snippet.errors.full_messages.each do |message| %>
    <p style="color: red"><%= message %></p>
  <% end %>
<% end %>

<script charset="utf-8">
  <% if @story.dark_theme %>
    document.getElementById("main-content").className = "content-container-dark"
  <% else %>
    document.getElementById("main-content").className = "content-container-light"
  <% end %>

  document.body.style.backgroundColor = "#<%= @story.color %>";  

  jscolor.installByClassName("jscolor");
</script>
