<%= form_for [@story, @snippet], 
  url: story_snippet_path(@story, @snippet) do |f| 
%>
  <%= render partial: "snippet_form", 
    locals: {f: f, edit: true, submit_text: "Update Snippet"} 
  %>
<% end %>

<br>

<%= button_to "Delete Snippet", 
  story_snippet_path(@story, @snippet), method: :delete 
%>

<br>

<% if @snippet.errors.any? %>
  <% @snippet.errors.full_messages.each do |message| %>
    <p style="color: red"><%= message %></p>
  <% end %>
<% end %>

<script charset="utf-8">
  <% if @story.dark_theme %>
    document.getElementById("main-content").className = "content-container-dark"
  <% else %>
    document.getElementById("main-content").className = "content-container-light"
  <% end %>

  document.body.style.backgroundColor = "#<%= @story.color %>";  

  jscolor.installByClassName("jscolor");
</script>
