<%= form_for [@story, @snippet], 
  url: story_snippets_path(@story) do |f| 
%>
  <%= f.hidden_field :position, value: "#{@snippet.position}" %>
  <%= render partial: "snippet_form", 
    locals: {f: f, new: true, submit_text: "Create Snippet"} 
  %>
<% end %>

<br>

<% if @snippet.errors.any? %>
  <% @snippet.errors.full_messages.each do |message| %>
    <p class="error-display"><%= message %></p>
  <% end %>
<% end %>

<script charset="utf-8">
  <% if @story.dark_theme %>
    document.getElementById("main-content").className = "content-container-dark"
  <% else %>
    document.getElementById("main-content").className = "content-container-light"
  <% end %>

  document.body.style.backgroundColor = "#<%= @story.color %>";  

  jscolor.installByClassName("jscolor");
</script>
