<script charset="utf-8">
  jscolor.installByClassName("jscolor");
</script>

<%= form_for [@story, @snippet], url: story_snippets_path(@story) do |f| %>
  <%= f.hidden_field :position, value: "#{@position}" %>

  <% if @snippet.errors.any? %>
    <ul>
      <% @snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul> 
  <% end %>

  <%= f.text_area :content, autofocus: true, maxlength: "#{@story.snippet_length}", id: "new-snippet-content" %>

  <hr>

  <div class="generic-centered">
    <div id="snippet-checkboxes">
      <%= f.check_box :paragraph_begin %>
      <%= f.label :paragraph_begin, "Begin" %>
      <%= f.check_box :paragraph_end %> 
      <%= f.label :paragraph_end, "End" %>
    </div>
  </div>

  <br>

  <div class="generic-centered">
    <%= f.submit "Create Snippet" %>
  </div>

<% end %>
