<script charset="utf-8">
  <% if @story.dark_theme %>
    document.getElementById("main-content").className = "content-container-dark"
  <% else %>
    document.getElementById("main-content").className = "content-container-light"
  <% end %>

  document.body.style.backgroundColor = "#<%= @story.color %>";  

  jscolor.installByClassName("jscolor");
</script>

<%= form_for [@story, @snippet], url: story_snippets_path(@story) do |f| %>
  <%= f.hidden_field :position, value: "#{@position}" %>

  <div class="snippet-container">
    <div class="generic-centered">
      <%= f.text_area :content, autofocus: true, maxlength: "#{@story.snippet_length}", id: "new-snippet-content" %>
    </div>

    <br>

    <hr>

    <div class="generic-centered">
      <div id="snippet-checkboxes">
        <%= f.check_box :paragraph_begin %>
        <%= f.label :paragraph_begin, "Begin" %>
        <%= f.check_box :paragraph_end %> 
        <%= f.label :paragraph_end, "End" %>
      </div>
    </div>

    <%= text_field_tag 'contribution_color', @contribution_color, class: 'jscolor centered-text' %> 

    <br>

    <%= f.submit "Create Snippet" %>
  </div>

<% end %>

<br>

<div class="generic-centered">
  <% if @snippet.errors.any? %>
    <% @snippet.errors.full_messages.each do |message| %>
      <p class="error-display"><%= message %></p>
    <% end %>
  <% end %>
</div>

