<%= form_for [@story, @snippet], url: story_snippets_path(@story) do |f| %>
  <%= f.hidden_field :position, value: "#{@position}" %>

  <div class="snippet-container">
    <%= render partial: "snippet_form", locals: {f: f} %>
    <%= f.submit "Create Snippet" %>

    <br>

    <% if @snippet.errors.any? %>
      <% @snippet.errors.full_messages.each do |message| %>
        <p class="error-display"><%= message %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<br>

<script charset="utf-8">
  <% if @story.dark_theme %>
    document.getElementById("main-content").className = "content-container-dark"
  <% else %>
    document.getElementById("main-content").className = "content-container-light"
  <% end %>

  document.body.style.backgroundColor = "#<%= @story.color %>";  

  jscolor.installByClassName("jscolor");
</script>
