<h1>Welcome, <%= current_user.username %></h1>

<button type="button" id="new-button">New Story</button>
<%= button_to "User Settings", edit_user_path, method: :get, id: "settings-button" %>

<%= render partial: "stories/story_list" %>

<div id="new-story-dialog" title="Create a Story...">
  <%= form_for :story do |f| %>
    <%= f.hidden_field :creator_id, value: current_user.id %>

    <div class="story-container">
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :subtitle %>
      <%= f.text_field :subtitle %>

      <%= f.label :snippet_length, "Snippet length" %>
      <%= f.number_field :snippet_length, in: 16..255, class: "snippet-length" %>

      <%= f.label :color, "Background Color" %>
      <%= f.text_field :color, class: "jscolor centered-text" %>

      <br>

      <span class="story-theme-checkbox">
        <%= f.check_box :dark_theme %>
        <%= f.label :dark_theme %>
      </span>

      <br>

      <div class="story-submit-button"><%= f.submit "Create Story" %></div>
    </div>
  <% end %>
</div>
  
<script charset="utf-8">
  $('#main-content').attr('class', 'content-container-light')
</script>
