<script charset="utf-8">
  document.getElementById("main-content").className = "content-container-light"
</script>

<h1>Sign Up</h1>

<br>

<%= form_for @user, url: signup_path do |f| %>
  <div id="signup-container">
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.email_field :email %> <br>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %> <br>

    <%= f.submit 'Create User' %>
  </div>
<% end %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <p style="color: red"><%= message %></p>
  <% end %>
<% end %>

