<h1>Welcome, <%= current_user.username %></h1>

<button type="button" id="new-button">New Story</button>
<%= button_to "User Settings", 
  edit_user_path(current_user), method: :get, id: "settings-button" 
%>

<%= render partial: "stories/story_list" %>

<div id="new-story-modal" class="modal">
  <div id="new-story-dialog" class="modal-content modal-light">
    <%= form_for :story, html: {id: "new-story-form"} do |f| %>
      <%= render partial: "stories/story_form", 
        locals: {f: f, submit_text: "Update Story"} 
      %>
    <% end %>
  </div>
</div>
  
<script charset="utf-8">
  $('#main-content').attr('class', 'content-container-light')

  jscolor.installByClassName("jscolor");
</script>
