<h1>Edit your story...</h1>

<br>

<%= form_for @story do |f| %>
  <div class="story-container">
    <%= render partial: "story_form", locals: {f: f} %>
    <div class="story-submit-button"><%= f.submit "Update Story" %></div>
  </div>
<% end %>

<br>

<% if @story.errors.any? %>
  <% @story.errors.full_messages.each do |message| %>
    <p class="error-display"><%= message %></p>
  <% end %>
<% end %>


<script charset="utf-8">
  <% if @story.dark_theme %>
    document.getElementById("main-content").className = "content-container-dark"
  <% else %>
    document.getElementById("main-content").className = "content-container-light"
  <% end %>

  document.body.style.backgroundColor = "#<%= @story.color %>";  
  jscolor.installByClassName("jscolor");
</script>

