<h1>Edit your story...</h1>

<br>

<%= form_for @story do |f| %>
  <div id="story-container">
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>

    <%= f.label :snippet_length, "Snippet length" %>
    <%= f.number_field :snippet_length, in: 16..255, class: "snippet-length" %>

    <%= f.label :color %>
    <%= f.text_field :color, class: "jscolor centered-text" %>

    <br>

    <span class="theme-checkbox">
      <%= f.check_box :dark_theme %>
      <%= f.label :dark_theme %>
    </span>

    <br>

    <%= f.submit "Update Story" %>
  </div>
<% end %>

<br>

<% if @story.errors.any? %>
  <% @story.errors.full_messages.each do |message| %>
    <p class="error-display"><%= message %></p>
  <% end %>
<% end %>


<script charset="utf-8">
  <% if @story.dark_theme %>
    document.getElementById("main-content").className = "content-container-dark"
  <% else %>
    document.getElementById("main-content").className = "content-container-light"
  <% end %>

  document.body.style.backgroundColor = "#<%= @story.color %>";  
  jscolor.installByClassName("jscolor");
</script>

