<script charset="utf-8">
  document.getElementById("main-content").className = "content-container-light"
</script>

<h2>Create a story...</h2>

<%= form_for Story.new do |f| %>
  <%= f.hidden_field :creator_id, value: "#{current_user.id}"  %>

  <%= f.label :title %> <br>
  <%= f.text_field :title, size: 30 %> <br>

  <%= f.label :subtitle %> <br>
  <%= f.text_field :subtitle, size: 42 %> <br>

  <%= f.label :snippet_length, "Snippet length (16-255)" %> <br>
  <%= f.number_field :snippet_length, value: 255, in: 16..255 %> <br>

  <%= f.label :color %> <br>
  <%= f.text_field :color, class: "jscolor", value: "ffffff", size: 8 %> <br>

  <%= f.label :dark_theme %>
  <%= f.check_box :dark_theme %> <br>
  
  <br>

  <%= f.submit "Create Story" %>
<% end %>

