<h1><%= @story.title %></h1>

<% if @story.subtitle.present? %>
  <h3><em><%= @story.subtitle %></em></h3>
<% end %>

<p>created by: <%= @story.creator.username %></p>

<% if current_user == @story.creator %>
  <span class="story-buttons">
    <button type="button" id="edit-button">Edit Story</button>
    <%= button_to "Delete", 
      story_path(@story), method: :delete, 
      data: {confirm: "Are you sure you want to delete this story?"} 
    %>
  </span>
<% end %>

<br>

<% if logged_in? %>
  <div class="story-ui-container">
    <%= form_tag story_vote_path(@story) do %>
      <%= hidden_field_tag :story_id, @story.id %>

      <span class="vote-radio-buttons">
        <% for i in 1..5 %>
          <%= radio_button_tag :vote, i, current_user.get_vote(@story) == i %> 
        <% end %>
      </span>

      <div class="vote-button"><%= submit_tag "Vote" %></div>  
    <% end %>
  </div>

  <br>

  <span>
    <%= check_box_tag :new_checkbox, "1", false, id: "toggle_links" %>
    <%= label_tag :new_checkbox, "New Links", for: "toggle_links" %>
  </span>
<% end %>

<hr>

<br>

<div class="story-body">
  <%= link_to "□", new_story_snippet_path(@story, position: 0), class: "snippet-new" %>

  <% @story.ordered_snippets.each.with_index(1) do |snippet, i| %>
    <% if snippet.paragraph_begin %>
      <p>
    <% end %>

    <span class="snippet-display", 
          style="color: <%= snippet.user.get_contribution_color(@story) %>;" >
      <% if snippet.user == current_user %>
        <%= link_to "#{snippet.content}", edit_story_snippet_path(@story, snippet) %>
      <% else %>
        <%= snippet.content %> 
      <% end %>
    </span>

    <% if snippet.paragraph_end && snippet.position %>
      </p>
    <% end %>

    <%= link_to "□", new_story_snippet_path(@story, position: i), class: "snippet-new" %>
  <% end %>
</div>

<% if @story.snippets? %>
  <br>

  <hr>

  <div class="story-legend-container">
    <h4>Contributors:</h4> 

    <% @story.contributions.each do |contribution| %>
      <% if contribution.snippets? %>
        <div style="color: #<%= contribution.color %>">
          <%= contribution.user.username %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div id="edit-story-modal" class="modal">
  <div id="edit-story-dialog" class="modal-content">
    <%= form_for :story, html: {id: "edit-story-form"} do |f| %>
      <%= render partial: "story_form", 
        locals: {f: f, submit_text: "Update Story"} 
      %>
    <% end %>
  </div>
</div>

<script charset="utf-8">
  <% if @story.dark_theme %>
    $('#main-content').attr('class', 'content-container-dark')
    $('#edit-story-dialog').attr('class', 'modal-content modal-dark')
  <% else %>
    $('#main-content').attr('class', 'content-container-light')
    $('#edit-story-dialog').attr('class', 'modal-content modal-light')
  <% end %>

  $('body').css('background-color', '#<%= @story.color %>')

  jscolor.installByClassName("jscolor");
</script>

