<h1><%= @story.title %></h1>

<% if !@story.subtitle.blank? %>
  <h3><em><%= @story.subtitle %></em></h3>
<% end %>

<p>created by: <%= @story.creator.username %></p>

<% if logged_in? %>
  <%= form_tag vote_path do %>
    <%= hidden_field_tag :story_id, @story.id %>

    <span id="voting-radio-buttons">
      <% for i in 1..5 %>
        <% if current_user.get_vote(@story) == i %>
          <%= radio_button_tag :vote, i, checked: true %> 
        <% else %>
          <%= radio_button_tag :vote, i %> 
        <% end %>
      <% end %>
    </span>

    <div id="vote-button"> <%= submit_tag "Vote" %> </div>
  <% end %>
<% end %>

<div class="inline-buttons-container">
  <% if current_user == @story.creator %>
    <%= button_to "Edit", edit_story_path(@story), method: :get, class: "inline-buttons" %> 
    <%= button_to "Delete", "/stories/#{@story.id}", method: :delete, class: "inline-buttons", data: {confirm: "Do you want to delete this story?"} %>
  <% end %>
</div>

<% if logged_in? %>
  <div class="generic-centered">
    <%= check_box_tag :new_snippet_checkbox, "1", false, onchange:"toggleNewSnippetLinks(this)" %>
    <%= label_tag :new_snippet_checkbox, "New Snippet Links" %>
  </div>
<% end %>

<hr>

<br>

<div class="story-body">
  <%= link_to "□", new_story_snippet_path(@story, position: 0), class: "new-snippet-link" %>

  <% @story.ordered_snippets.each.with_index(1) do |snippet, i| %>
    <% if snippet.paragraph_begin %>
      <p>
    <% end %>

    <span class="snippet-display", style="color:<%= snippet.user.get_contribution_color(@story) %>";>
      <% if snippet.user == current_user %>
        <%= link_to "#{snippet.content}", edit_story_snippet_path(@story, snippet) %>
      <% else %>
        <%= snippet.content %> 
      <% end %>
    </span>

    <% if snippet.paragraph_end && snippet.position %>
      </p>
    <% end %>

    <%= link_to "□", new_story_snippet_path(@story, position: i), class: "new-snippet-link" %>
  <% end %>
</div>

<% if @story.has_contributions %>
  <hr>

  <div class="legend-container">
    <h4>Contributors:</h4> 

    <% @story.contributions.each do |contribution| %>
      <% if contribution.color %>
        <div style="color: #<%= contribution.color %>">
          <%= contribution.user.username %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>


<script charset="utf-8">
  <% if @story.dark_theme %>
    document.getElementById("main-content").className = "content-container-dark";
  <% else %>
    document.getElementById("main-content").className = "content-container-light";
  <% end %>

  document.body.style.backgroundColor = "#<%= @story.color %>";  

  jscolor.installByClassName("jscolor");
</script>

