<h1><%= @story.title %></h1>

<% if @story.subtitle.present? %>
  <h3><em><%= @story.subtitle %></em></h3>
<% end %>

created by: <%= @story.creator.username %> <br>

<% if logged_in? %>
  <div class="story-ui-container">
    <%= form_tag story_vote_path(@story) do %>
      <%= hidden_field_tag :story_id, @story.id %>

      <span class="vote-radio-buttons">
        <% for i in 1..5 %>
          <%= radio_button_tag :vote, i, current_user.get_vote(@story) == i %> 
        <% end %>
      </span>

      <div class="vote-button">
        <%= submit_tag "Vote" %>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user == @story.creator %>
  <span class="story-buttons-span">
    <button type="button" id="edit-button" class="generic-button">
      Edit Story
    </button>
    <%= button_to "Delete", 
      story_path(@story), method: :delete, class: "generic-button",
      data: {confirm: "Are you sure you want to delete this story?"} 
    %>
  </span>
<% end %>

<% if logged_in? %>
  <span>
    <%= check_box_tag :new_checkbox, "1", false, id: "toggle_links" %>
    <%= label_tag :new_checkbox, "New Links", for: "toggle_links" %>
  </span>
<% end %>

<hr>

<br>

<div class="story-body">
  <%= link_to "□", 
    new_story_snippet_path(@story, position: 0), 
    class: "snippet-new", data: {position: 0} 
  %>

  <% @story.ordered_snippets.each.with_index(1) do |snippet, i| %>
    <% if snippet.paragraph_begin %>
      <p>
    <% end %>

    <span class="snippet-display", 
          style="color: <%= snippet.user.get_contribution_color(@story) %>;" >
      <% if snippet.user == current_user %>
        <%= link_to "#{snippet.content}", 
          edit_story_snippet_path(@story, snippet), 
          class: "snippet-edit", 
          data: {story_id: @story.id, id: snippet.id, position: i}
        %>
      <% else %>
        <%= snippet.content %> 
      <% end %>
    </span>

    <% if snippet.paragraph_end && snippet.position %>
      </p>
    <% end %>

    <%= link_to "□", 
      new_story_snippet_path(@story, position: i), 
      class: "snippet-new", data: {position: i} 
    %>
  <% end %>
</div>

<% if @story.snippets? %>
  <br>

  <hr>

  <div class="story-legend-container">
    <h4>Contributors:</h4> 

    <% @story.contributions.each do |contribution| %>
      <% if contribution.snippets? %>
        <div style="color: #<%= contribution.color %>">
          <%= contribution.user.username %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div id="story-edit-modal" class="modal">
  <div id="story-edit-dialog" class="modal-content">
    <%= form_for :story, html: {id: "story-edit-form"} do |f| %>
      <%= render partial: "story_form", 
        locals: {f: f, submit_text: "Update Story"} 
      %>
    <% end %>
  </div>
</div>

<div id="snippet-modal" class="modal">
  <div id="snippet-dialog" class="modal-content">
    <div class="snippet-container">
      <%= form_for [@story, Snippet.new], html: {id: "snippet-form"} do |f| %>
        <%= hidden_field_tag 'new' %>

        <% if logged_in? %>
          <%= f.hidden_field :position, value: 0 %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :story_id, value: @story.id %>
        <% end %>

        <div class="snippet-preview-container">
          <%= f.text_area :content, class: 'snippet-content',
            autofocus: true, maxlength: @story.snippet_length 
          %>
        </div>

        <hr>

        <div class="snippet-checkboxes">
          <%= f.check_box :paragraph_begin %>
          <%= f.label :paragraph_begin, 'Begin' %>
          <%= f.check_box :paragraph_end %> 
          <%= f.label :paragraph_end, 'End' %>
        </div>

        <%= f.submit "Submit", 
          id: "snippet-submit-button", class: "generic-button" 
        %>
      <% end %>

      <button type="button" id="snippet-delete-button" class="generic-button">
        Delete Snippet 
      </button>
    </div>
  </div>
</div>

<script charset="utf-8">
  <% if @story.dark_theme %>
    $('#main-content').attr('class', 'content-container-dark')
    $('#story-edit-dialog').attr('class', 'modal-content modal-dark')
    $('#snippet-dialog').attr('class', 'modal-content modal-dark')
  <% else %>
    $('#main-content').attr('class', 'content-container-light')
    $('#story-edit-dialog').attr('class', 'modal-content modal-light')
    $('#snippet-dialog').attr('class', 'modal-content modal-light')
  <% end %>

  $('body').css('background-color', '#<%= @story.color %>')

  jscolor.installByClassName("jscolor");
</script>

