<div id="story-header-div">
  <div id="story-prev-div"> 
    <div><button id="prev-button">Prev</button></div> 
  </div>
  <div id="story-central-div">
    <h1 id="title"><%= @story.title %></h1>
    <h3 id="subtitle"><em><%= @story.subtitle %></em></h3>
    <p id="creator">by: <%= @story.creator.username %></p>

    <% if logged_in? %>
      <div class="story-ui-container">
        <%= form_tag story_vote_path(@story), id: "vote-form" do %>
          <%= hidden_field_tag :story_id, @story.id %>

          <span class="vote-radio-buttons">
            <% for i in 1..5 %>
              <%= radio_button_tag :vote, i, current_user.get_vote(@story) == i %> 
            <% end %>
          </span>

          <div class="vote-button">
            <%= submit_tag "Vote" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if current_user == @story.creator %>
      <span class="story-buttons-span">
        <button type="button" id="edit-button" class="generic-button">
          Edit Story
        </button>
        <%= button_to "Delete", 
          story_path(@story), method: :delete, class: "generic-button",
          data: {confirm: "Are you sure you want to delete this story?"} 
        %>
      </span>
    <% end %>

    <% if logged_in? %>
      <% if current_user.get_contribution(@story) %>
        <%= label_tag :snippet_color %>
        <%= text_field_tag :snippet_color, 
          current_user.get_contribution_color(@story), 
          class: "jscolor centered-text",
          data: {
            story_id: @story.id, user_id: current_user.id, 
            jscolor: "{position: 'top'}" 
          }
        %>
      <% end %>

      <br>

      <span>
        <%= check_box_tag :new_checkbox, "1", false, id: "toggle_links" %>
        <%= label_tag :new_checkbox, "New Links", for: "toggle_links" %>
      </span>
    <% end %>

  </div>
  <div id="story-next-div"> 
    <div><button id="next-button">Next</button></div> 
  </div>
</div>

<hr>

<br>

<div id="story-body">
  <a href="" class="snippet-new" data-position="0">□</a>

  <% @story.ordered_snippets.each.with_index(1) do |snippet, i| %>
    <% if snippet.paragraph_begin %>
      <p>
    <% end %>

    <span 
      class="<%= "snippet-display contrib-u#{snippet.user.id}-s#{@story.id}" %>" 
    >
      <% if snippet.user == current_user %>
        <a href="" class="snippet-edit" 
          data-position="<%= i %>" data-id="<%= snippet.id %>" 
          data-story-id="<%= @story.id %>" 
        >
          <%= snippet.content %>
        </a>
      <% else %>
        <%= snippet.content %> 
      <% end %>
    </span>

    <% if snippet.paragraph_end && snippet.position %>
      </p>
    <% end %>

    <a href="" class="snippet-new" data-position="<%= i %>">□</a>
  <% end %>
</div>

<% if @story.snippets? %>
  <br>

  <hr>

  <div class="story-legend-container">
    <h4>Contributors:</h4> 

    <% @story.contributions.each do |contribution| %>
      <% if contribution.snippets? %>
        <div
          class="<%= "snippet-display contrib-u#{contribution.user.id}-s#{@story.id}" %>" 
        >
          <%= contribution.user.username %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div id="story-edit-modal" class="modal">
  <div id="story-edit-dialog" class="modal-content">
    <%= form_for :story, html: {id: "story-edit-form"} do |f| %>
      <%= render partial: "story_form", 
        locals: {f: f, submit_text: "Update Story"} 
      %>
    <% end %>
  </div>
</div>

<div id="snippet-modal" class="modal">
  <div id="snippet-dialog" class="modal-content">
    <%= form_for [@story, Snippet.new], 
      html: {id: "snippet-form", class: "snippet-container"} do |f| 
    %>
      <%= hidden_field_tag 'new' %>

      <% if logged_in? %>
        <%= f.hidden_field :id, value: 0 %>
        <%= f.hidden_field :position, value: 0 %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :story_id, value: @story.id %>
      <% end %>

      <div class="snippet-preview-container">
        <%= f.text_area :content, class: 'snippet-content',
          autofocus: true, maxlength: @story.snippet_length 
        %>
      </div>

      <hr>

      <div class="snippet-checkboxes">
        <%= f.check_box :paragraph_begin %>
        <%= f.label :paragraph_begin, 'Begin' %>
        <%= f.check_box :paragraph_end %> 
        <%= f.label :paragraph_end, 'End' %>
      </div>

      <%= f.submit "Submit", 
        id: "snippet-submit-button", class: "generic-button" 
      %>
    <% end %>

    <button type="button" id="snippet-delete-button" class="generic-button">
      Delete Snippet 
    </button>
  </div>
</div>


<script charset="utf-8">
  <% if @story.dark_theme %>
    $('#main-content').attr('class', 'content-container-dark')
    $('#story-edit-dialog').attr('class', 'modal-content modal-dark')
    $('#snippet-dialog').attr('class', 'modal-content modal-dark')
  <% else %>
    $('#main-content').attr('class', 'content-container-light')
    $('#story-edit-dialog').attr('class', 'modal-content modal-light')
    $('#snippet-dialog').attr('class', 'modal-content modal-light')
  <% end %>

  $('body').css('background-color', '#<%= @story.color %>')

  window.user_id = <%= current_user.id %>
  window.story_id = <%= @story.id %>

  jscolor.installByClassName("jscolor");
</script>

