<!DOCTYPE html>
<html>
  <head>
    <title>Write With You</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jscolor', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div class="topnav">
        <%= link_to "Home", root_path %>

        <% if logged_in? %>
          <%= link_to current_user.username, users_path %>
          <%= link_to "Log Out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Login", login_path %>    
          <%= link_to "Sign Up", signup_path %>
        <% end %>
      </div>

    </header>

    <div class="main-container">
      <div class="content-container-light" id="main-content">

        <%= yield %>

      </div>
    </div>

  </body>
</html>
