<!DOCTYPE html>
<html>
  <head>
    <title>WriteWithYou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# <link rel="stylesheet" href="/stylesheets/topnav.css" type="text/css"> %>
  </head>

  <body>
    <header>

      <div class="topnav">
        <% if user_signed_in? %>
          <%= link_to current_user.username, user_root_path %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete  %>
        <% else %>
          <%= link_to "Home", root_path %>
          <%= link_to "Log In", new_user_session_path %>    
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </header>

    <%= yield %>

  </body>
</html>
