<!DOCTYPE html>
<html>
  <head>
    <title>Write With You</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div class="topnav">
        <% if logged_in? %>
          <%= link_to current_user.username, root_path %>
          <%= link_to "Log Out", root_path %>
        <% else %>
          <%= link_to "Home", root_path %>
          <%= link_to "Log In", root_path %>    
          <%= link_to "Sign Up", root_path %>
        <% end %>
      </div>

    </header>

    <div class="main-container">
      <div class="content-container">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
