<!DOCTYPE html>
<html>
  <head>
    <title>WriteWithYou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# <link rel="stylesheet" href="/stylesheets/topnav.css" type="text/css"> %>
  </head>

  <body>
    <header>
      <div class="topnav">

      </div>
    </header>

    <%= yield %>

  </body>
</html>
